{% extends "appbuilder/base.html" %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Diff</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diff2html.min.css') }}">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        #diff {
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>{{title}}</h1>
    <div id="diff"></div>

    <script src="{{ url_for('static', filename='js/diff.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/diff2html.min.js') }}"></script>
    <script>
        const text1 = `{{ text1 | tojson }}`;
        const text2 = `{{ text2 | tojson }}`;

        async function displayDiff() {
            const diff = Diff.createPatch('text', text1, text2);
            const diffHtml = Diff2Html.html(diff, { 
                drawFileList: false, 
                matching: 'lines', 
                outputFormat: 'side-by-side',
                showFiles: false,
                diffStyle: 'word',
                renderNothingWhenEmpty: false 
            });
            document.getElementById('diff').innerHTML = diffHtml;
        }

        displayDiff();
    </script>
</body>
</html>

{% endblock %}